tr,th{
color: blueviolet;
background-color: rgb(13, 197, 105);
text-align: center;
font-size: 2vh; 
    flex-direction: row;
    height: auto;
gap: 0vh;
align-items: center;
flex-direction: row;

}
 
*{
    color: rgb(71, 12, 209);
   background-color: chocolate;
    font-size: 2vh; 
    height: auto;
}

.demo{
    display:flex;
    justify-content: center;
    
    gap: 3vh;
     height: 100vh;

text-align: center;


align-items: center;
}

@media(max-width:700px){

.demo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
     height: 100vh;

text-align: center;

 
align-items: center;
}

}   